$color-select: #F0F4F9;

select {
    background-color: $color-select;
    font-size: 1.1rem;
    border-radius: 15px;
    border:none;
    height: 43px;
    /* width: 161px; */
    padding: 3px 12px;
}
